@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");


.header {
  overflow: hidden;
  padding: 0px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: navy;
  text-align: center;
  text-decoration: navy;
  font-size: 18px;
  line-height: 15px;
  border-radius: 28px;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: rgba(149, 202, 249, 1);
  color: black;
}


/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

:root {
  --black: 
rgba(0, 0, 0, 1);
  --navy-blue: 
rgba(24, 131, 230, 1);
  --shark: 
rgba(37, 37, 37, 1);
  --blue: 
rgba(55, 81, 255, 1);
  --east-bay: 
rgba(69, 88, 128, 1);
  --cornflower: 
rgba(149, 202, 248, 1);
  --pink: 
rgba(250, 207, 202, 1);
  --white: 
rgba(255, 255, 255, 1);

  --font-size-xs: 18px;
  --font-size-s: 20px;
  --font-size-m: 24px;
  --font-size-l: 64px;
  --font-size-xl: 96px;

  --font-family-halyard_text-regular: "Halyard Text-Regular";
  --font-family-passion_one: "Passion One";
  --font-family-pompiere: "Pompiere";
  --font-family-poppins: "Poppins";
}



.poppins-normal-shark-20px {
  color: var(--shark);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
.poppins-normal-black-24px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}
.halyardtext-regular-normal-east-bay-18px {
  color: var(--east-bay);
  font-family: var(--font-family-halyard_text-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
  font-style: normal;
}
.poppins-semi-bold-navy-blue-24px {
  color: var(--navy-blue);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}
.poppins-extra-bold-white-24px {
  color: var(--white);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 800;
  font-style: normal;
}
.poppins-semi-bold-black-24px {
  color: var(--black);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-m);
  font-weight: 600;
  font-style: normal;
}